{% extends "base.html" %}


{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation" >
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}"> <strong> HEP Recommender - Find related articles you missed </strong></a>
        </div>
    </nav>
{% endblock %}

{% block content %}
  <!-- Page Content -->
  <div class="container">
     <!-- Jumbotron Header -->
    <header class="jumbotron my-4">

       <div class="row">
           <div class="col-md-4">
             <form method="GET" action="/">
                <div class="form-group">
                {{ form.article.label }} {{ form.article(size=50) }}
                </div>
                <button type="submit" class="btn btn-primary">Find related articles</button>
              </form>
            </div>
       </div>

      {% if article %}
      {% if recommendations %}
       <hr class="my-4">
       <p>
            <a href=https://labs.inspirehep.net/literature/{{ article["id"] }}> <h5> "{{ article["record"].title  }}" </h5> </a>
            by {{ article["record"].authors_short  }} {{ article["record"].preprint_year}}
       </p>

        <p>
           <a target="_blank" rel="noopener noreferrer" href=https://labs.inspirehep.net/literature/{{ article["id"] }} class="btn btn-primary"> Open on INSPIRE </a>
       </p>

    </header>

   <p class="text-center"> <h2> Recommendations </h2> <p>

    <!-- Page Features -->

                     {% for recommendation in recommendations %}

                     <div class="card mb-4">

                          <div class="card-body">
                              <h5 class="card-title">
                                "{{ recommendation["record"].title  }}"
                              </h5>
                              <p class="card-text"> by {{ recommendation["record"].authors_short  }} {{ recommendation["record"].preprint_year}}</p>
                          </div>

                          <div class="card-footer">
                             <a target="_blank" rel="noopener noreferrer" href=https://labs.inspirehep.net/literature/{{ recommendation["id"] }} class="btn btn-primary btn-sm"> Open on INSPIRE </a>
                             <a href=/?article={{ recommendation["id"] }} class="btn btn-secondary btn-sm"> Recommendations </a>
                          </div>
                     </div>


                     {% endfor %}

               {% else %}
                    <br>
                    <h3>Sorry, we dont have recommendations for this article</h3>
               {% endif %}

           {% endif %}

        </div>


 {% if not recommendations %}
  <div class="container">
      <div class="alert alert-light" role="alert">
          <p>
              We provide recommendations of related articles using data from
              <a target="_blank" rel="noopener noreferrer" href=https://labs.inspirehep.net>
              INSPIRE-HEP</a>
          </p>

          <p>
          You can find the INSPIRE article id on the URL of an article. <br>
              For example, the following article by Peter W. Higgs
          <a target="_blank" rel="noopener noreferrer" href=https://labs.inspirehep.net/literature/11883>
              https://labs.inspirehep.net/literature/11883 </a>
              has the id 11883
          </p>
          <a style="font-size: 14px; color:#000000" href="mailto:contact@hep-recommender.com">Contact</a>
       </div>
  </div>
 {% endif %}

{% endblock %}