{% extends "base.html" %}

{% block title %} HEP Recommender {% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default" role="navigation" >
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}"> <strong> HEP Recommender </strong></a>
        </div>
    </nav>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
        {% if id %}
                {% if recommendations %}
            <h3>Recommendations</h3>
               {% for article, title in recommendations.items() %}
         <p>
             <a href=https://labs.inspirehep.net/literature/{{ article }}> {{ title  }}</a>
             </p>
              {% endfor %}
        {% else %}
            <h3>Sorry, we dont have recommendations for this id</h3>
        {% endif %}
                {% endif %}
    </div>
{% endblock %}
