{% extends "base.html" %}

{% block title %} HEP Recommender {% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default" role="navigation" >
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}"> <strong> HEP Recommender </strong></a>
        </div>
    </nav>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
           {% if article %}
               {% if recommendations %}
                    <h4>Article:</h4>
                       <p>
                           <a href=https://labs.inspirehep.net/literature/{{ article["id"] }}> "{{ article["record"].title  }}"
                           </a>
                           <br by {{ article["record"].authors_short  }}
                       </p>
                    <h4>Recommendations:</h4>
                         {% for recommendation in recommendations %}
                       <p>
                           <a href=https://labs.inspirehep.net/literature/{{ recommendation["id"] }}> "{{ recommendation["record"].title  }}"
                           </a>
                           <br by {{ recommendation["record"].authors_short  }}
                       </p>
                         {% endfor %}
               {% else %}
                    <h3>Sorry, we dont have recommendations for this article</h3>
               {% endif %}
           {% endif %}
        </div>
{% endblock %}
